* {
    margin: 0;
}

html {
    background-color: #fb718a;   
}

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f1ddba;
}

.titulo {
    h1 {
        color: #40223c; 
    }
}

.texto {
    width: 80%;
    margin: 5%;
    text-align: justify;
    p {
        color: #f1ddba;
        line-height: 25px;
    }
}

.assinatura {
    text-align: right;
    color: #40223c;
}

.corpo {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.botao {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        border-radius: 30px;
        border-color: #f1ddba;
        border-style: none;
        padding: 15px 32px;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        color: #40223c;
        background-color: #f1ddba;
    }

    button:hover {
        background-color: #40223c;
        color: #f1ddba;
        border-color: #40223c;
    }
}